<div class="container">
<h1>Appartment List</h1>
<a routerLink="/appartement/add">Add Appartement</a>
 <div class="row">
    <app-appartement-card class="col-3 m-1" *ngFor="let a of appartementList" (deleteC)="deleteAppartement($event)" [appartement]="a" ></app-appartement-card>
 </div>
</div>
<app-appartement-card #appart style="display: none;"></app-appartement-card>
<div class="container">
  <p><b> {{ appart.childText }} </b></p>
  <button class="btn btn-primary" (click)="appart.childMethod()" > {{ appart.childText }} </button>
</div>
<div class="container">
  <p><b> {{ parentText }} </b></p>
  <button class="btn btn-success" (click)="parentMethod()" > {{ parentText }} </button>
</div>